<html>

<head>
    <title>Multi-Lemm Logistics</title>
    <link rel="icon" type="image/png" href="img/logo.png" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js" integrity="sha512-3j3VU6WC5rPQB4Ld1jnLV7Kd5xr+cq9avvhwqzbH/taCRNURoeEpoPBK9pDyeukwSxwRPJ8fDgvYXd6SkaZ2TA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>-->
    <script src="js/darktoggle.js"></script>
    <script src="js/language.js"></script>
    <link rel="stylesheet" href="css/dropdown.css">
    <link rel="stylesheet" href="css/normalizer.css">
    <link rel="stylesheet" href="css/homepage.css">
    <link rel="stylesheet" href="css/scroll.css">
    <link rel="stylesheet" href="css/dark-theme.css">
    <link href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/1ee9481ced.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    

</head>

<body>
    <header style="position: relative;">
        <div id='navContainer' class='navContainer'>
            <h3 class='title'><a href='#'><img class="mainLogo" src="img/logo.png" style="height: 29px; width: 29px;vertical-align: text-top;"> Multi-Lemm Logistics</a></h3>
            <div style='float:right'>
                <ul class='navList'>
                    <li class='navLink'><a href="/jfcalculator"><span lang="en">JF Calculator</span><span lang="zh">跳货计算器</span><span lang="jp">JF輸送計算</span><span lang="dk">JF lommeregner</span></a></li>
                    <li class='navLink'><a href="/perjumpcalculator"><span lang="en">BR/DST/Freighter Calculator</span><span lang="zh">偷运/强运/货舰计算器</span><span lang="jp">輸送艦/フレイター輸送計算</span><span lang="dk">BR/DST/Freighter Lommeregner</span></a></li>
                    <li class='navLink'><a href="/custom"><span lang="en">Custom Request</span><span lang="zh">定制服务</span><span lang="jp">その他輸送先を指定</span><span lang="dk">Brugerdefineret anmodning</span></a></li>
                    <li class='navLink'><a href="/pricing"><span lang="en">Pricing</span><span lang="zh">价格表</span><span lang="jp">料金表</span><span lang="dk">Prissætning</span></a></li>
                    <li class='navLink' onclick="joinus()"><span lang="en">Guide</span><span lang="zh">指南</span><span lang="jp">ご利用方法</span><span lang="dk">Guide</span></li>
                    <li class='navLink'><a href='https://discord.gg/fQqCvHT' target="_blank"><span lang="en">Discord</span><span lang="zh">Discord</span><span lang="jp">ディスコード</span><span lang="dk">Discord</span></a></li>
                    <li class='navLink'><a
                            href='https://www.pandemic-horde.org/forum/index.php?threads/multi-lemm-logistics-jf-freighter-br-service-covering-tke-def-custom-routes.2872/'
                            target="_blank"><span lang="en">Forums</span><span lang="zh">论坛</span><span lang="jp">フォーラム</span><span lang="dk">Forums</span></a></li>
                    <li class='navLink'>
                        <div class="dropdown">
                        <button class="dropbtn"><span lang="en">&#127468;&#127463;</span><span lang="zh">&#127464;&#127475;</span><span lang="ko">&#127472;&#127479;</span><span lang="jp">&#127471;&#127477;</span><span lang="da">&#127465;&#127472;</span><span lang="de">&#127465;&#127466;</span>
                          <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-content">
                          <a id="en" class="switch-lang">&#127468;&#127463;</a>
                          <a id="zh" class="switch-lang">&#127464;&#127475;</a>
                          <a id="jp" class="switch-lang">&#127471;&#127477;</a>
                          <a id="ko" class="switch-lang">&#127472;&#127479;</a>
                          <a id="da" class="switch-lang">&#127465;&#127472;</a>
                          <a id="de" class="switch-lang">&#127465;&#127466;</a>
                        </div>
                      </div>
                    </li>
                    <li class='navLink'>
                      <div class="pretty p-icon p-toggle p-plain">
                        <input type="checkbox" id="darkToggle" onclick="themeToggle()" />
                        <div class="state p-off">
                          <i class="icon fa-solid fa-lightbulb"></i>
                          <label>&lrm;</label>
                        </div>
                        <div class="state p-on">
                          <i class="icon fa-regular fa-lightbulb"></i>
                          <label>&lrm;</label>
                        </div>
                      </div>
                    </li>
                </ul>
            </div>
        </div>
    </header>

    <div class='topContainer'>

        <video style="width: 100%; height: 100%; z-index: -1;object-fit: cover;" autoplay muted loop id="myVideo">
            <source src="img/jita.mp4" type="video/mp4">
            Any alternate text.
        </video>



        <div class='headingContainer'>
            <img class='mainLogo' src='img/logo.png'>
            <h1 class='mainHeading'>Multi-Lemm Logistics</h1>
            <h3 class='subHeading'><span lang="en">Your Friendly Logistics Service</span><span lang="zh">您友好的运输服务</span><span lang="jp">あなたに身近な輸送サービスを</span><span lang="dk">Din venlige logistikservice</span></h3>
            <a href="/jfcalculator"><button class='mainButton'><span lang="en">JF Calculator</span><span lang="zh">跳货计算器</span><span lang="jp">JF輸送計算</span></button></a>
            <a href="/perjumpcalculator"><button class='mainButton'><span lang="en">BR/DST/Freighter Calculator</span><span lang="zh">偷运/强运/货舰计算器</span><span lang="jp">輸送艦/フレイター輸送計算</span></button></a>
            <a href="/custom"><button class='mainButton'><span lang="en">Custom Request</span><span lang="zh">定制服务</span><span lang="jp">その他輸送先を指定</span></button></a>
            <a href="/pricing"><button class='mainButton'><span lang="en">Pricing</span><span lang="zh">价格表</span><span lang="jp">料金表</span></button></a>
            <a href="https://discord.gg/kgBGPKuwQ9"><button class='mainButton'><span lang="en">Discord</span><span lang="zh">Discord</span><span lang="jp">ディスコード</span></button></a>

        </div>
    </div>
    <div id='aboutus' class='bottomContainer'>


        <div class='corpHeadingContainer'>
            <h1 id='services' class='thumbContainerHeading'><span lang="en">What We Do</span><span lang="zh">我们提供什么</span><span lang="jp">私たちの仕事</span><span lang="dk">HVAD VI GØR</span></h1>
            <div class='thumbContainer'>
                <div class='thumb'>
                    <img class='thumbImage' src="https://imperium.news/wp-content/uploads/2021/03/Highsec_Hauling.jpg">
                    <h3 class='thumbHeading'><span lang="en">Hauling</span><span lang="zh">运输</span><span lang="jp">運搬</span><span lang="dk">FRAGT</span></h3>
                    <h3 class='thumbText'><span lang="en">Multi-Lemm Logistics cover all of your hauling needs. We cover nullsec, lowsec
                        & highsec routes.</span><span lang="zh">MLL满足您一切运输需求。我们的服务覆盖00和高低安路线。</span>
                        <span lang="jp">Multi-Lemm Logisticsはお客様のニーズにあわせ、ハイセクからヌルセクまでのすべてのルートをカバーしています。</span>
                        <span lang="dk">Multi-Lemm Logistics dækker alle dine transportbehov. Vi dækker nullsec, lowsec & highsec ruter.</span></h3>
                </div>
                <div class='thumb'>
                    <img class='thumbImage'
                        src="https://webimg.ccpgamescdn.com/kvd74o0q2fjg/4puPE1s8eQaOuACuyc4gUO/9925021662d183c0d807b3ef225ab06b/industry_2.jpg?w=360&fm=jpg">
                    <h3 class='thumbHeading'><span lang="en">Jump Freighters</span><span lang="zh">跳货</span><span lang="jp">ジャンプフレイター</span><span lang="dk">JUMP FREIGHTERS</span></h3>
                    <h3 class='thumbText'><span lang="en">We primarily use Jump Freighters to service regular routes to Pandemic Horde
                        space, see our calculator for more information on available routes</span><span lang="zh">我们主要使用跳货来运输通往PH星系的常规线路，请参阅计算器页面来获取更多可用路线信息。</span>
                        <span lang="jp">私たちはPandemic Horde領へジャンプフレイターを定期的に運用しています。利用可能な航路の詳細については、計算機をご覧ください。</span>
                        <span lang="dk">Vi bruger primært Jump Freighters til at servicere almindelige ruter til Pandemic Horde space, se vores lommeregner for mere information om tilgængelige ruter</span></h3>

                </div>
                <div class='thumb'>
                    <img class='thumbImage'
                        src="https://static-cdn.jtvnw.net/cf_vods/d2nvs31859zcd8/84787c9e7ca2f986f2cf_sakeineve_20275185559_1610845944/thumb/custom-f784b70e-c700-47ef-bba0-0a0b5a8fdb34-1280x720.jpeg">
                    <h3 class='thumbHeading'><span lang="en">BRs, DSTs & Freighters</span><span lang="zh">偷运，强运，以及货舰</span><span lang="jp">重トラ/軽トラ/フレイター輸送</span><span lang="dk">BRS, DSTS og FREIGHTERS</span></h3>
                    <h3 class='thumbText'><span lang="en">Multi-Lemm Logistics also offer services using Blockade Runners, Deep Space
                        Transports & Freighters. These services are ideal for non-standard routes.</span><span lang="zh">MLL也提供偷运，强运，以及货舰服务。这些服务可以很好的用在非常规路线。</span>
                        <span lang="jp">私たちはT2輸送艦、フレイターを利用したサービスも提供しています。これらのサービスは、定期航路ではない場所に荷物を送りたいときに最適です</span>
                        <span lang="dk">Multi-Lemm Logistics tilbyder også tjenester ved hjælp af Blockade Runners, Deep Space Transports og Freighters. Disse tjenester er ideelle til ikke-standard ruter.</span></h3>

                </div>
                <div class='thumb'>
                    <img class='thumbImage'
                        src="https://static1.makeuseofimages.com/wordpress/wp-content/uploads/2014/05/eve-online-newbie-hauling.png?q=50&fit=crop&w=640&dpr=1.5">
                    <h3 class='thumbHeading'><span lang="en">Custom Contracts</span><span lang="zh">定制合同</span><span lang="jp">ジャンプフレイターの指定契約</span><span lang="dk">BRUGERDEFINERET KONTRAKTER</span></h3>
                    <h3 class='thumbText'><span lang="en">We also offer custom Jump Freighter services, for a quote please join our
                        Discord.</span><span lang="zh">我们也提供个人定制跳货服务，请加入我们的discord咨询并获取报价。</span>
                        <span lang="jp">ジャンプフレイターを利用した指定輸送も承っております。お見積りはDiscordまでお問い合わせください。</span>
                        <span lang="dk">Vi tilbyder også skræddersyede Jump Freighter-tjenester, for et pristilbud, tilmeld dig vores Discord.</span></h3>

                </div>
            </div>
        </div>
        <hr>

<a id="guideSection"></a>
<a id="guide"></a>
        <div class='corpHeadingContainer'>
            <h1 class='thumbContainerHeading'><span lang="en">How to setup a contract:</span><span lang="zh">如何创建合同</span><span lang="jp">ご利用するための輸送契約の作成方法/</span></h1>
            <ol id='joinus' class='joinUsList'>
                <li class='joinUsListElement'><span lang="en">Copy the items you want to have shipped from your Inventory or Personal
                    Assets page, you can do this by highlighting the items and then pressing Ctrl + C.</span><span lang="zh">在你的机库或者个人资产页面，将你想运输的物品复制。你可以选中这些物品然后按Ctrl + C来复制。</span>
                    <span lang="jp">インベントリまたは個人資産ページから出荷したいアイテムをコピーします。アイテムをハイライトしてから、Ctrl + Cキーを押します。</span>
                    <span lang="dk">Kopier de varer, du vil have sendt, fra din side for inventar eller personlige aktiver. Du kan gøre dette ved at fremhæve varerne og derefter trykke på Ctrl + C.</span></li>
                <li class='joinUsListElement'><span lang="en">Select the desired route from the drop downs. Then paste the copied items into the Item List on our calculator. It should look similar to this:</span>
                    <span lang="zh">下拉箭头选择你想要的路线。然后将复制好的物品粘贴到计算器的物品列表中。看起来就像这样：</span>
                    <span lang="jp">ドロップダウンから希望の輸送経路を選択します。次に、コピーしたアイテムを計算機のアイテムリストに貼り付けます。このように表示されるはずです。</span>
                    <span lang="dk">Vælg den ønskede rute fra dropdownmenu. Indsæt derefter de kopierede vare i varelisten på vores lommeregner. Det skal se sådan ud:</span>
                    <br> <img src="/img/jf-example.png" style="width: 700px"></li>
                <li class='joinUsListElement'><span lang="en">Press the Submit button, this should generate the contract details as shown in the screenshot below. Please ensure that the output says "Successful" and has no errors:</span>
                    <span lang="zh">点击提交按钮，这应该会生成像下面截图中的合同详情。请确保显示“成功”并且没有错误。</span>
                    <span lang="jp">Submit ボタンを押すと、以下のスクリーンショットに示すように、契約の詳細が生成されるはずです。出力が「Successful」と表示され、エラーがないことを確認してください。</span>
                    <span lang="dk">Tryk på knappen Indsend, dette skulle generere kontraktdetaljerne som vist på skærmbilledet nedenfor. Sørg for, at outputtet siger "Succesful" og ikke har nogen fejl:</span>
                    <br> <img src="/img/calculator-success.png" style="width: 700px"></li>
                <li class='joinUsListElement'><span lang="en">Create a new contract in game, ensuring that you set this to a private
                    courier contract, as per the below screenshot: </span>
                    <span lang="zh">在游戏内创建一个新合同，请确保设置为私人的快递合同，图例如下：</span>
                    <span lang="jp">ゲーム内で新しい契約を作成し、以下のスクリーンショットのように非公開の輸送契約に設定することを確認します。</span>
                    <span lang="dk">Opret en ny kontrakt i EVE, og sørg for, at du indstiller denne til en privat kurerkontrakt, i henhold til nedenstående skærmbillede:</span>
                    <br> <img src="/img/ss.png"></li>
                <li class='joinUsListElement'><span lang="en">Press "Next" and select the items that you entered into the calculator. Please ensure there are no assembled ships or containers included.</span>
                    <span lang="zh">点击下一步，选择你刚才输入到计算器中的物品。请确保没有组装好的成船以及箱子。</span>
                    <span lang="jp">"次へ "を押して、計算機に入力したアイテムを選択します。組み立てられた船やコンテナが含まれていないことを確認してください。</span>
                    <span lang="dk">Tryk på "Næste" og vælg de varer, du har indtastet i lommeregneren. Sørg for, at der ikke er nogen samlede skibe eller containere inkluderet.</span></li>
                <li class='joinUsListElement'><span lang="en">Press "Next" again and fill in the remaining details based on the calculator output, including the description as this will ensure you receive automated eve mails about your contract. An example of this can be seen below:</span>
                    <span lang="zh">再次点击下一步，按照计算器给出的信息填写剩下的合同细节，包括描述信息，以便于您能够收到我们自动发送的EVE邮件。图例如下：</span>
                    <span lang="jp">再度「次へ」を押し、計算機の出力に基づいて残りの詳細を記入します。説明文を記入すると、契約に関するゲーム内メールが自動的に送信されるようになります。以下はその例です。</span>
                    <span lang="dk">Tryk på ""Næste"" igen og udfyld de resterende detaljer baseret på lommeregnerens output, inklusive beskrivelsen, da dette vil sikre, at du modtager automatiske eve-mails om din kontrakt. Et eksempel på dette kan ses nedenfor:</span>
                    <br><img src="/img/ss1.png"></li>
                <li class='joinUsListElement'><span lang="en">Once you've ensured all the details are correct press "Next" again, you will be presented with a confirmation screen which outlines all of the contract details. Ensure this matches the calculator output and then hit "Finish"</span>
                    <span lang="zh">在您确保所有信息填写正确后，点击下一步，您将会看到包含合同细节的确认页面。确保这些信息和计算器显示的一致，并点击完成。</span>
                    <span lang="jp">すべての詳細が正しいことを確認したら、もう一度""次へ""を押すと、契約の詳細がすべて表示される確認画面が表示されます。これが電卓の出力と一致することを確認し、""完了""を押してください。</span>
                    <span lang="dk">Når du har sikret dig, at alle detaljerne er korrekte, tryk på "Næste" igen. Du vil blive præsenteret for en bekræftelsesskærm, som skitserer alle kontraktdetaljerne. Sørg for, at dette stemmer overens med regnemaskinens output, og tryk derefter på "Udfør" </span>
                </li>
            </ol>
            </ol>
        </div>
    </div>
    <div class='footer'>
        <h3 class='footerText'>Multi-Lemm Logistics</h3>
    </div>
    <script src='/js/navbar.js'></script>
    <script src='/js/scroll.js'></script>
</body>

</html>
