.dark-theme {
  background-color: #121212;
}

.dark-theme .bottomContainer{
  filter: invert(1);
}

.dark-theme img{
  filter: invert(1);
}

.dark-theme video {
  filter: invert(1);
}

.dark-theme .mainLogo {
  filter: none;
}