.dark-theme {
  background-color: #121212;
}

.dark-theme .bottomContainer{
  filter: invert(1);
}

.dark-theme img{
  filter: invert(1);
}

.dark-theme video {
  filter: invert(1);
}

.dark-theme .mainLogo {
  filter: none;
}


.dark-theme label, .dark-theme h1, .dark-theme img, .dark-theme table {
  filter: invert(1);
}


.dark-theme .calculator, .dark-theme .contract {
  background-color: #121212;
}


.dark-theme .select2-container {
  filter: invert(1);
}

.dark-theme span.selection {
  filter: invert(1);
}

.dark-theme textarea{
  background-color: #cfcfcf;
}